*{
				margin: 10px;
}




body {
				background: black;
				font-family: Arial;
				font-size: 28px;
				color: white;
}

.info{
				background: #ff1f00;
				border-radius: 6%;
				height: 150px;
				
		 
				
}

img{
				width: 250px;
				height: 250px;			
				border-radius: 50%;
				width: 250px;
				animation-name: slid;
				animation-duration: 2s;
}

.intro{
				
}

.whats{
				width: 50px;
				height: 50px;
				
				
}

.insta{
				width: 50px;
				height: 50px;
}

.git{
				width: 50px;
				height: 50px;
				animation-name: slid;
				animation-duration: 3s;
				
}




@keyframes slid {
				from {
								opacity: 0:
				}
				
				to {
								opacity: 4;
				}
}





@media (max-width: 800px) {
				info {
								width: 700px;
								background: #4615ff;
				}
}
