body {
				background: #002dff;
}

.info{
				background: #ff1f00;
				border-radius: 6%;
				
}

img{
				width: 250px;
				height: 250px;
				
				border-radius: 50%;
}

.intro{
				
}

.whats{
				width: 30px;
				height: 35px;
				
				
}

.insta{
				width: 30px;
				height: 35px;
}

.git{
				width: 30px;
				height: 30px;
				
}
